*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
    background: white;
    min-height: 100vh;

}
header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 30px 100px;
    justify-content: flex-start;
    align-items:center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 200px;
 

}
.navbar a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
.navbar a:hover, 
.navbar a.active{
    background: #359381;
    color: #fff;
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text{
    margin-top: -100px;
    position: absolute;
    font-size: 5em;
    color: rgb(11, 16, 17);
    border-radius: 5pxs;

}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.textpart{
    position: relative;
    background: #08312a;
    padding: 100px;
}
.textpart h2{
    font-size: 3em;
    color: white;

}
.textpart p{
    margin-top: 30px;
    font-size: 1em;
    color: rgb(135, 233, 220);
}